.header-container {
}
/* navbar */
.navbar {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: #FFFFFF;
  border-bottom: 1px solid rgba(38, 45, 95, 0.2);
}
.navbar img {
  width: 284px;
  height: 54px;
}
.navbar a {
  margin-right: 25px;
  font-size: 15px;
  text-decoration: none;
  color: #262d5f;
  font-weight: 500;
  transition: 0.3s;
}
.navbar a:hover {
  color: #FB7F47;
}
.login-signup {
  margin-left: 50px;
}
